@import url('https://fonts.googleapis.com/css2?family=Kenia&family=Rubik+Moonrocks&family=Silkscreen&family=Zen+Antique&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body {

    margin: 0;
    /* background-image: url(../images/sampourai.jpg);
    background-size:cover;
    background-position-x: 400px;
    background-position-y: -275px;
    background-repeat:no-repeat; */
}

header {
    display: flex;
    justify-content: center;
    height: 100px;
    background: rgba(0, 0, 0, 0.5);
    color: whitesmoke;
}

#smallLine {
    text-transform: uppercase;
    font-size: 50px;
    letter-spacing: 10px;
}

main {
    display: flex;
    flex-direction: column;
    
    gap: 20px;
}

#hangSamContainer {
    display: flex;
    justify-content:space-around;
    align-items: baseline;
    padding-top: 0;

}
#kdbSmallContainer{
    display: flex;
    justify-content: center;
    text-align: center;
}



.letterContainer {

    font-family: 'Indie Flower';
    font-size: x-large;
    display: flex;

}
.letterContainer :hover{
    
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
   box-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}

#result {
margin: 0;
    text-align: center;
    font-size:3em;
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
    font-family:"Indie Flower";

}
#playAgain{
    display: flex;
    justify-content: center;
}
.rep {

    border: solid 1px black;
    border-radius: 5px;
    width: 80px;
    text-align: center;
    cursor:pointer;
}

#kbd {

    display: flex;
    flex-direction: column;
    cursor: pointer;
}


.letter {
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px black;
    border-radius: 10px;
    width: 70px;
    height: 30px;
}

#samourai, #hangedMan img, #hangedMan {


    height: 400px;


}
#hangedMan{
    width:50%;
    transform: translate(0, -10%);
}

 @media (max-width:1260px){
    

.letter {
    font-size: 14px;
    padding: 5px;
    width: 20px;
    height: 20px;
    margin: 3px;
}
}
 @media (max-width:700px){
    #samourai, #hangedMan img, #hangedMan {
        height: 200px;
    }
   .imgHanged{
        
        width: 150px;
    }
    .letter {
        font-size: 14px;
        padding: 5px;
        width: 5px;
        height: 10px;
       
    }
    #kbd {

        align-items: center;
    }
    #result {
        margin: 0;
            text-align: center;
            font-size:2em;
            text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
            font-family:"Indie Flower";
        
        }
        #smallLine {
            text-transform: uppercase;
            font-size: 1em;
            letter-spacing: 10px;
        }
}  